/* general CSS */
:root {
    --text-color-dark: #0A0D4BFF;
    --text-color-light: #ffffff;
    --link-color: #306fda;
    --background-color-light: #f5f5f7;
    --background-color-nav: #ffffff;
    --background-color-dark: #000000;
    --shadow-color: 245deg 9% 58%;
    --shadow-elevation-low:
        0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.48),
        0.4px 0.7px 0.7px -1.9px hsl(var(--shadow-color) / 0.37),
        1px 1.9px 2px -3.8px hsl(var(--shadow-color) / 0.26);
    --shadow-elevation-medium:
        0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.5),
        0.6px 1.2px 1.2px -1.3px hsl(var(--shadow-color) / 0.42),
        1.8px 3.6px 3.7px -2.5px hsl(var(--shadow-color) / 0.33),
        4.8px 9.6px 10px -3.8px hsl(var(--shadow-color) / 0.25);
    --shadow-elevation-high:
        0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.47),
        0.8px 1.6px 1.7px -0.5px hsl(var(--shadow-color) / 0.43),
        1.6px 3.2px 3.3px -1.1px hsl(var(--shadow-color) / 0.39),
        3px 6.1px 6.3px -1.6px hsl(var(--shadow-color) / 0.35),
        5.5px 11px 11.4px -2.2px hsl(var(--shadow-color) / 0.31),
        9.4px 18.8px 19.5px -2.7px hsl(var(--shadow-color) / 0.27),
        15.1px 30.2px 31.4px -3.3px hsl(var(--shadow-color) / 0.23),
        23px 46px 47.8px -3.8px hsl(var(--shadow-color) / 0.19);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../fonts/PPNeueMontreal-Book.woff2') format('woff2'),
        url('../fonts/PPNeueMontreal-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('..fonts/PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
        url('../fonts/PPNeueMontreal-SemiBolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
        url('../fonts/PPNeueMontreal-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
        url('../fonts/PPNeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/PPNeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
        url('../fonts/PPNeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Material Icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* Hide content initially for typeWriter function*/
.hidden-until-animation {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Call with typeWriter */
.visible {
    opacity: 1;
}

/* Elements */

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-family: 'PP Neue Montreal', Georgia, sans-serif;
    color: var(--text-color-dark);
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    overflow-x: hidden;
}

.fullscreen {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    scroll-snap-align: start;
    padding-top: 4rem;
    position: relative;
    margin: 1rem 0;
    background-color: var(--background-color-light);
}

.section-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    max-width: 1200px;
    margin: 0rem auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 2rem;
    flex: 1;
}

@media (min-width: 40em) {
    .section-container, .nav-container {
        padding: 2rem!important;
    }
}

@media (min-width: 60em) {
    .fullscreen {
        padding-top: 6rem!important;
    }
}

.section-header {
    align-self: flex-start;
}

h1 {
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: 1.2;
}

h2 {
    font-weight: 200;
    font-size: clamp(1.5rem, 4vw, 2rem);
    line-height: 1.3;
}

h3 {
    font-weight: 200;
    font-size: clamp(1rem, 3vw, 1.25rem);
    line-height: 1.4;
}

h1,
h2,
h3,
p,
li {
    margin-bottom: 1rem;
}

p,
li {
    line-height: 1.5rem;
}

hr {
    border-top: 1px solid #bbb;
  }

/* Navigation Section */

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--background-color-nav);
    z-index: 1000;
    opacity: 0;
    /* Start hidden */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 100;
    margin: 0 auto;
}

.main-nav a {
    text-decoration: none;
    color: var(--text-color-dark);
}

.nav-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    min-height: 4rem;
}

.nav-left a {
    font-weight: normal
}

.nav-left a:hover {
    color: var(--link-color);
}

.nav-right a:hover {
    font-weight: normal;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.desktop-menu a {
    margin-left: 2rem;
    text-decoration: none;
    color: var(--text-color-dark);
}

/* Hide hamburger by default */
.hamburger-button {
    display: none;
}

/* Hide mobile menu by default */
.mobile-menu {
    display: none;
    font-weight: 100;
}

@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .hamburger-button {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;
    }

    .hamburger-button span {
        display: block;
        width: 24px;
        height: 2px;
        background: #333;
        margin: 6px 0;
        transition: 0.3s;
        transform-origin: center;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        right: -100%;
        /* Start off-screen */
        width: 70%;
        height: 100vh;
        background: var(--background-color-nav);
        padding: 2rem;
        transition: right 0.3s ease;
        z-index: 1001;
        /* Higher than left bar */
        ;
    }

    .mobile-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 999;
        /* Below menu but above other content */
    }

    .mobile-menu-overlay.active {
        opacity: 1;
        visibility: visible;

    }

    .mobile-menu.active {
        right: 0;
    }

    .mobile-menu a {
        padding: 1rem 1rem;
        text-decoration: none;
        color: var(--text-color-dark);
        font-size: 1.5rem
    }

    .mobile-menu a:hover {
        font-weight: normal;
    }

    /* Hamburger animation */
    .hamburger-button.active span:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: top left;
        margin-top: 1px;
    }

    .hamburger-button.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-button.active span:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: bottom left;
        margin-bottom: 1px;
    }
}

/* Welcome Section */

#welcome {
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
}

#welcome .section-container {
    align-items: flex-start;
}

@media (min-width: 40rem) {
    #welcome .section-container {
        align-items: center;
    }
}

#welcome-h1-text {
    min-height: 8rem;
}

#welcome h2 {
    min-height: 6rem;

}

.scroll-prompt {
    position: absolute;
    bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 0.5rem;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-prompt:hover {
    opacity: 1;
}

.arrow-down {
    position: relative;
    width: 24px;
    height: 24px;
    animation: float 2s ease-in-out infinite;
}

.arrow-down::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: translate(-50%, -50%) rotate(45deg);
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}


/* About Section */

#about .fullscreen {
    background-color: var(--background-color-light-alt);
}

.content-block {
    margin: auto 0;
}

.text-columns {
    margin-bottom: 2rem;
}

.image-columns {
    display: flex;
    justify-content: center;
    padding: 2rem
}

.image-columns img {
    max-height: 42vh;
    max-width: 100%;
}

@media (min-width: 40em) {
    .content-block {
        display: flex;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;
    }

    .text-columns {
        max-width: 40rem;
        margin: auto 0;
        flex: 3;
    }

    .image-columns {
        flex: 2;
        justify-content: center;
        align-items: center;
    }
}

.logo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 1rem;
}

.logo-link {
    /* Base size that allows 5 logos to fit comfortably */
    flex: 1 1 5rem;
    /* Don't grow, can shrink, base width XXpx */
    max-width: 20vw;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.logo-link:hover {
    opacity: 1;
}

.logo-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Work Section */

.content-items-1,
.content-items-2 {
    padding: 1rem 2rem;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--text-color-light);
    border-width: 1rem;
    width: 100%;
    margin: 2rem 0;
    box-shadow: var(--shadow-elevation-medium);
    background-color: var(--background-color-nav);
}


ul li:last-child {
    margin-bottom: 0;
}

.text-columns p:last-child {
    margin-bottom: 0;
}

li {
    margin-left: 1rem;
}

.cv-logos img {
    max-height: 30vw;
    justify-content: center;
    align-items: center;
}

.cv-logos .logo-link {
    /* Base size that allows 5 logos to fit comfortably */
    flex: 1 1 5rem;
    /* Don't grow, can shrink, base width XXpx */
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.cv-logos .logo-link:hover {
    opacity: 1;
}

@media (min-width: 40rem) {

    .content-items-1,
    .content-items-2 {
        display: flex;
        gap: 4rem;
        max-width: 60rem;
        justify-content: space-around;
    }

    #work .text-columns {
        align-self: flex-end;
    }

    .cv-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

}


/* Contact section  */

#contact {
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
}

.content-items-contact {
    padding: 2rem;
    border-radius: 8px;
    max-width: 100%;
    margin: auto 0;
    box-shadow: var(--shadow-elevation-high);
    background-color: var(--background-color-nav);
}

.content-items-contact p {
    margin: 1rem 0;
}

:focus {
    outline: 3px solid var(--link-color);
    outline-offset: 2px;
}

.skip-to-main-content {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
    text-decoration: none;
}

.skip-to-main-content:focus {
    left: 50%;
    transform: translateX(-50%);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}