# _config.yml
title: kkauf.com
description: Konstantin G. M. Kaufmann - kkauf.com
url: "https://kkauf.com"
baseurl: "/blog"

# Build settings
markdown: kramdown
permalink: /:year/:month/:day/:title/
plugins:
  - jekyll-feed

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/