---
layout: layouts/post.njk
title: Blog
permalink: /blog/
---

<p>Writing on building digital products for health and education, and the craft of product leadership.</p>

<ul class="blog-list">
  {% for post in collections.post | reverse %}
  <li class="blog-list-item">
    <article class="blog-card">
      <h2 class="blog-card-title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      {% if post.date %}
      <p class="blog-card-meta">{{ post.date | readableDate }}</p>
      {% endif %}
      {% if post.templateContent %}
      <p class="blog-card-excerpt">
        {{ post.templateContent | striptags | decodeEntities | truncate(220, true, '…') }}
      </p>
      {% endif %}
      <a href="{{ post.url }}" class="blog-card-link">Read post</a>
    </article>
  </li>
  {% endfor %}
</ul>
